<div class="row">
  <!-- Example form styling -->
  <!-- Data block -->
  <article class="span6 data-block">
    <div class="data-container">
      <header>
        <h2><%= "Thêm" if @service == nil%> Dịch Vụ</h2>
        <%if @service != nil %>
        <ul class="data-header-actions">
          <li>
            <a href="<%= services_path %>" class="btn btn-success">Dịch Vụ</a>
          </li>
        </ul>
        <% end %>
      </header>
      <section>
        <% @service = Service.new if @service == nil%>
        <%= form_for(@service,:html=>
        {:class=>"form-inline"}) do |f| %>
        <fieldset>
          <div class="control-group">
            <label class="control-label">Quận</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :name %></div>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit 'Save',:class=>'btn btn-alt btn-primary btn-large' %></div>
        </fieldset>
        <% end %></section>
    </div>
  </article>
  <!-- /Data block -->
</div>
<script type="text/javascript">
  <% if notice != nil %>
    alert('<%= notice%>');
  <% end %>
</script>