<!-- Grid row -->
<div class="row">

    <!-- Example jQuery FullCalendar -->
    <!-- Data block -->
    <article class="span6 data-block">
        <div class="data-container">
            <header>
                <h2>Dịch Vụ</h2>
            </header>
            <section class="tab-content">
                <!-- Tab #static -->
                <div class="tab-pane active" id="static">
                    <table class="table table-condensed">
                        <thead>
                            <tr>

                                <th>Dịch Vụ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @services.each do |service| %>
                            <tr>
                                <td>
                                    <span class="label btn-info">
                                        <%= service.name %></span>
                                </td>
                                <td>
                                    <%= link_to 'Show', service,:class=>
                                    "label label-success" %>
                                    <%= link_to 'Edit', edit_service_path(service),:class=>
                                    "label label-success" %>
                                    <%= link_to 'Destroy', service, method: :delete, data: { confirm: "Thực sự muốn xóa #{service.name} ?" },:class=>"label label-important" %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /Tab #dynamic --> </section>
        </div>
    </article>
    <!-- /Data block -->
    <%= render :partial =>"services/form"  %></div>
</div>
<!-- /Grid row -->