<div class="row">
	<!-- Example jQuery FullCalendar -->
	<!-- Data block -->
	<article class="span12 data-block">
		<div class="data-container">
			<div class="row-fluid">
				<div class="span4">
					<h3>Tìm Kiếm</h3>
					<p>
						Chức năng này chỉ giới hạn 2 loại, ngoài ra trong tương lai sẽ <span class="label btn-info">phát triển thêm</span>
					</p>
					<p>
						<span class="label btn-danger">Loại dịch vụ</span> <br />Nhập vào ví dụ <span class="label btn-warning">Ăn Uống</span> <span class="label btn-warning">Bất Động Sản ..etc</span>
					</p>
					<p>
						<span class="label btn-danger">Quận</span> <br />Nhập vào ví dụ <span class="label btn-warning">Quận 1</span> <span class="label btn-warning">Quận Bình Thạnh ..etc</span> tại thành phố HCM
					</p>
				</div>
				<div class="span8">
					<form accept-charset="UTF-8" action="/results" autocomplete="off" class="form-inline" id="new_contact" class="form-inline" action="" method="get">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="input">Loại Dịch Vụ</label>
								<div class="controls">
									<input type="text" id="contact_service" name="contact[service]" class="input-xlarge" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[<%= Service::all_to_array() %>]"></div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input">Quận</label>
								<div class="controls">
									<input type="text" id="contact_district" name="contact[district]" class="input-xlarge" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[<%= District::all_to_array() %>]"></div>
							</div>
							<div class="form-actions">
								<input type="submit" class="btn btn-alt btn-primary btn-large" value="Search"></div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</article>

	<!-- /Data block -->
</div>

<% content_for :scripts do %>
<style type="text/css">
form {
    background: none;
    border: none;
    padding:5px;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
  $('.typeahead').typeahead({cache: false});
});
</script>
<% end %>