.map_container{padding:6px;border-width:1px;border-style:solid;border-color:#ccc #ccc #999 #ccc;-webkit-box-shadow:rgba(64,64,64,0.5) 0 2px 5px;-moz-box-shadow:rgba(64,64,64,0.5) 0 2px 5px;box-shadow:rgba(64,64,64,0.1) 0 2px 5px;width:800px}.gmaps4rails_map{width:800px;height:400px}.bing_map{position:absolute;top:20;left:10;width:400px;height:400px;border:#555555 2px solid}#map img{max-width:none}#map label{width:auto;display:inline}
