<footer class="container">
	<p><span class="label label-success">Một sản phẩm của</span> <span class="label label-important">Youth Application Develop</span></p>
	<ul>
		<li><a href="#" class="btn btn-flat disabled">Support</a></li>
		<li><a href="#" class="btn btn-flat disabled">Documentation</a></li>
		<li><a href="#" class="btn btn-flat disabled">API</a></li>
	</ul>
	<a href="#top" class="btn btn-primary btn-flat pull-right">Top &uarr;</a>
</footer>