<meta name="description" content="">
<meta name="author" content="Walking Pixels | www.walkingpixels.com">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tags %>