<nav class="main-navigation" role="navigation">
	<ul>
		<li class="current"><a href="/" class="no-submenu"><span class="icon-home"></span>Trang Chủ</a></li>
		<li class="current">
			<a href="#"><span class="icon-picture"></span>Quản Lý  </a>
			<ul>
				<li><a href="/contacts">Danh Bạ</a></li>
				<li><a href="/countries">Quốc Gia</a></li>
				<!-- <li><a href="#cities">Thành Phố</a></li> -->
				<li><a href="/districts">Quận</a></li>
				<!-- <li><a href="#albums">Hình Ảnh</a></li> -->
				<li><a href="/services">Dịch Vụ</a></li>
			</ul>
		</li>
	</ul>
</nav>