<section class="side-note">
	<div class="side-note-container">
		<h2>Thông Tin</h2>
		<p> Sản phẩm mang tính tượng trưng, chức năng vẫn <span class="label btn-danger">chưa đầy đủ</span></p>
	</div>
	<div class="side-note-bottom"></div>
</section>