<section class="user-profile">
	<figure class="clearfix">
		<img alt="shinguyenx avatar" src="https://fbcdn-photos-a.akamaihd.net/photos-ak-snc7/v85006/186/371818246231086/app_115_371818246231086_2003518690.png">
		<figcaption> <strong><a href="#" class="">shinguyenx</a></strong>  <em>Developer</em>
			<ul>
				<li>
					<a class="btn btn-primary btn-flat" href="#" title="Account settings">settings</a>
				</li>
				<li>
					<a class="btn btn-primary btn-flat" href="#" title="Message inbox">inbox</a>
				</li>
			</ul>
		</figcaption>
	</figure>
</section>