<!-- <nav>
	<ul>
		<li>
			<form class="nav-search">
				<input type="text" placeholder="Search&hellip;">
			</form>
		</li>
		<li><a href="#">Configuration</a></li>
		<li><a href="#">Logout</a></li>
	</ul>
</nav> -->