<!-- Data block -->
<article class="span12 data-block">
  <div class="data-container">
    <header>
      <h2>Kết Quả Tìm Kiếm</h2>
    </header>
    <ul id="markers_list"></ul>
  </div>
</article>
<!-- /Data block -->
<!-- Data block -->
<article class="span12 data-block">
  <div class="data-container">
    <header>
      <h2>Bản Đồ</h2>
    </header>
    <section>
      <%= gmaps("markers" =>
      {"data" => @json,"options" => {"list_container" => "markers_list" }}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 16}) %>
    </section>
  </div>
</article>
<!-- /Data block -->

<!-- /Grid row -->
<% content_for :scripts do %>
<style type="text/css">
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 630px;
}

.gmaps4rails_map {
  width: 630px;
  height: 400px;
}
#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}
#markers_list{
  list-style-type:none;
  display: inline-block;
  margin:0px 0px 2px 0px;
  #mark
}
#markers_list li{
  float:left;
  margin-left:5px;
}
#markers_list li a{
  text-decoration: none;
}
</style>
<% end %>