<div class="row">
  <!-- Example form styling -->
  <!-- Data block -->
  <article class="span12 data-block">
    <div class="data-container">
      <header>
        <h2>
          <%= (@contact.name == nil)? "Thêm Danh Bạ": @contact.name %></h2>
        <ul class="data-header-actions">
          <li>
            <a href="<%= contacts_path %>" class="btn btn-success">Danh Bạ</a>
          </li>
        </ul>
      </header>
      <section>
        <%= form_for(@contact,:html =>
        { :class => "form-inline" }) do |f| %>
        <fieldset>
          <div class="control-group">
            <label class="control-label">Tên</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :name %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Dịch Vụ</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= select_tag "contact[service]", options_from_collection_for_select(Service.all, "name", "name",@contact.service), :include_blank =>true %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Địa Chỉ</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :address %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Quốc Gia</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :country %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Tỉnh</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :ward %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Thành Phố</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :city %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Quận</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= select_tag "contact[district]", options_from_collection_for_select(District.all, "name", "name",@contact.district), :include_blank =>true %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Phường</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :province %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Hình Đại Diện</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :img_default %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Thông Tin</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_area :description,:class=>"span5",:style=>"height:200px" %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Kinh Độ</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :longitude_late %></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Vĩ Độ</label>
            <div class="form-controls">
              <div class="input-prepend">
                <%= f.text_field :latitude_late %></div>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit 'Save',:class=>'btn btn-alt btn-primary btn-large' %></div>
        </fieldset>
        <% end %></section>
    </div>
  </article>
  <!-- /Data block -->
</div>
<!-- /Grid row -->

<div class="row">

  <!-- Example jQuery FullCalendar -->
  <!-- Data block -->
  <article class="span12 data-block">
    <div class="data-container">
      <section class="tab-content">
        <!-- detect_location" =>
        true, -->
        <ul id="markers_list"></ul>
        <%= gmaps("markers" =>
        {"data" => @json,"options" => {"list_container" => "markers_list","draggable" => true  }},"map_options" => {"processing" => "json","auto_adjust" => true, "auto_zoom" => false, "zoom" => 16}) %>
      </section>
    </div>
  </article>
  <!-- /Data block -->
</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">

Gmaps.map.HandleDragend = function(pos) {
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      console.log(responses[0].geometry.location.$a);
      console.log(responses[0].geometry.location.ab);
      $('#contact_latitude_late').val(responses[0].geometry.location.$a);
      $('#contact_longitude_late').val(responses[0].geometry.location.ab)
    } else {
    alert('Cannot determine address at this location.');
    }
  });
};

Gmaps.map.callback = function() {
  for (var i = 0; i <  this.markers.length; ++i) {
     google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition()) });
  }
};

// Google map loaded
// $(document).ready(function(){
//   Gmaps.map.callback = function(){
//     for (index = _i = 0, _len = this.markers.length; _i < _len; index = ++_i) {
//       marker = this.markers[index];
//       if (!(this.markers[index].serviceObject == null)) {
//         Lat = this.markers[index].lat;
//         Lng = this.markers[index].lng;
//         if (this.markers_conf.randomize) {
//           LatLng = this.randomize(Lat, Lng);
//           Lat = LatLng[0];
//           Lng = LatLng[1];
//         }
//         this.markers[index].serviceObject = this.createMarker({
//           "marker_picture": this.markers[index].picture ? this.markers[index].picture : this.markers_conf.picture,
//           "marker_width": this.markers[index].width ? this.markers[index].width : this.markers_conf.width,
//           "marker_height": this.markers[index].height ? this.markers[index].height : this.markers_conf.length,
//           "marker_title": this.markers[index].title ? this.markers[index].title : null,
//           "marker_anchor": this.markers[index].marker_anchor ? this.markers[index].marker_anchor : null,
//           "shadow_anchor": this.markers[index].shadow_anchor ? this.markers[index].shadow_anchor : null,
//           "shadow_picture": this.markers[index].shadow_picture ? this.markers[index].shadow_picture : null,
//           "shadow_width": this.markers[index].shadow_width ? this.markers[index].shadow_width : null,
//           "shadow_height": this.markers[index].shadow_height ? this.markers[index].shadow_height : null,
//           "marker_draggable": this.markers[index].draggable ? this.markers[index].draggable : this.markers_conf.draggable,
//           "rich_marker": this.markers[index].rich_marker ? this.markers[index].rich_marker : null,
//           "zindex": this.markers[index].zindex ? this.markers[index].zindex : null,
//           "Lat": Lat,
//           "Lng": Lng,
//           "index": index
//         });
//         Gmaps.map.createSidebarCustom(this.markers[index]);
//       }
//     }
//     this.markers_conf.offset = this.markers.length
//   };
// });

//moves map to marker clicked + open infowindow
  // sidebar_element_handler : (currentMap, marker, eventType) ->
  //   return () ->
  //     currentMap.map.panTo(marker.position)
  //     google.maps.event.trigger(marker, eventType)
// end Google map loaded
</script>

<style type="text/css">
#markers_list{
  list-style-type:none;
  display: inline-block;
  #mark
}
#markers_list li{
  float:left;
  margin-left:5px;
}
</style>

<style type="text/css">
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 630px;
}

.gmaps4rails_map {
  width: 630px;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 630px;
   height: 400px;
   border:#555555 2px solid;
}
#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
}
</style>
<% end %>