<!-- Grid row -->
<div class="row">

    <!-- Example jQuery FullCalendar -->
    <!-- Data block -->
    <article class="span12 data-block">
        <div class="data-container">
            <header>
                <h2>Địa Chỉ</h2>
                <ul class="data-header-actions">
                    <li class="demoTabs active">
                        <a href="<%= new_contact_path%>" class="btn btn-alt btn-inverse">Thêm Địa Chỉ</a>
                    </li>
                </ul>
            </header>
            <section class="tab-content">
                <!-- Tab #static -->
                <div class="tab-pane active" id="static">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tên</th>
                                <th>Dịch Vụ</th>
                                <th>Quận</th>
                                <th>Địa Chỉ</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @contacts.each do |contact| %>
                            <tr>
                                <td>
                                    <a href"#" class="thumbnail" style="width:48px;height:48px">
                                        <img src="<%= contact.img_default %>"></a>
                                </td>
                                <td> <b><%= contact.name %> <b></td>
                                <td>
                                    <span class="label btn-success">
                                        <%= contact.service %></span>
                                </td>

                                 <td>
                                    <span class="label btn-info">
                                        <%= contact.district %></span>
                                </td>
                                <td>
                                    <span class="label label-warning">
                                        <%= contact.address %></span>
                                </td>
                                <td>
                                    <%= link_to 'Show', contact,:class=>
                                    "label label-success" %>
                                    <%= link_to 'Edit', edit_contact_path(contact),:class=>
                                    "label label-success" %>
                                    <%= link_to 'Destroy', contact, method: :delete, data: { confirm: "Thực sự muốn xóa #{contact.name} ?" },:class=>"label label-important" %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /Tab #dynamic --> </section>
        </div>
    </article>
    <!-- /Data block --> 
</div>
<!-- /Grid row -->