<div class="row">
  <!-- Example form styling -->
  <!-- Data block -->
  <article class="span6 data-block">
    <div class="data-container">
      <header>
        <h2><%= @contact.name %></h2>
        <ul class="data-header-actions">
          <li>
            <a href="<%= edit_contact_path(@contact) %>" class="btn btn-danger">Chỉnh Sửa</a>
          </li>
          <li>
            <a href="<%= contacts_path %>" class="btn btn-success">Danh Bạ</a>
          </li>
        </ul>
      </header>
      <section>
        <form class="form-inline">
          <fieldset>
            <div class="control-group">
              <label class="control-label">Tên</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <span class="add-on">
                    <%= @contact.name %></span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Địa Chỉ</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <span class="add-on">
                    <%= @contact.address %></span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Quốc Gia</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <span class="add-on">
                    <%= @contact.country %></span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Tỉnh</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <span class="add-on">
                    <%= @contact.ward %></span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Thành Phố</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <span class="add-on">
                    <%= @contact.city %></span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Quận</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <span class="add-on">
                    <%= @contact.district %></span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Phường</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <span class="add-on">
                    <%= @contact.province %></span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Hình Đại Diện</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <a href"<%= @contact.img_default %>
                    "="" class="thumbnail" style="width:48px;height:48px">
                    <img src="/assets/thumb/48x48.png"></a>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </section>
    </div>
  </article>
  <!-- /Data block -->

  <!-- Data block -->
  <article class="span6 data-block">
    <div class="data-container">
      <header>
        <h2>Thông Tin </h2>
      </header>
      <section>
        <p>
          <%= raw @contact.description %></p>

        <ul id="markers_list"></ul>
        <%= gmaps("markers" =>
        {"data" => @json,"options" => {"list_container" => "markers_list"}},"map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 16}) %></section>
    </div>
  </article>
  <!-- /Data block -->
</div>


<!-- /Grid row -->
<% content_for :scripts do %>
<style type="text/css">
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 280px;
}

.gmaps4rails_map {
  width: 280px;
  height: 390px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 280px;
   height: 390px;
   border:#555555 2px solid;
}
#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 

#markers_list{
  list-style-type:none;
  display: inline-block;
  #mark
}
#markers_list li{
  float:left;
  margin-left:5px;
}
#markers_list li a{
  text-decoration: none;
}
</style>
<% end %>