<div class="row">
  <!-- Example form styling -->
  <!-- Data block -->
  <article class="span6 data-block">
    <div class="data-container">
      <header>
        <h2>Thêm Quận - Huyện</h2>
        <ul class="data-header-actions">
          <li>
            <a href="<%= districts_path %>" class="btn btn-success">Quận - Huyện</a>
          </li>
        </ul>
      </header>
      <section>
        <%= form_for(@district,:html=>{:class=>"form-inline"}) do |f| %>
          <fieldset>
            <div class="control-group">
              <label class="control-label">Quận</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <%= f.text_field :name %></div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Kinh Độ</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <%= f.text_field :longitude_late %></div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Vĩ Độ</label>
              <div class="form-controls">
                <div class="input-prepend">
                  <%= f.text_field :latitude_late %></div>
              </div>
            </div>
            <div class="form-actions">
              <%= f.submit 'Save',:class=>'btn btn-alt btn-primary btn-large' %></div>
          </fieldset>
        <% end %>
      </section>
    </div>
  </article>
  <!-- /Data block -->

  <!-- Data block -->
  <article class="span6 data-block">
    <div class="data-container">
      <header>
        <h2>Bản Đồ</h2>
      </header>
      <section>
        <%= gmaps("markers" =>
        {"data" => @json,"options" => { "draggable" => true  }}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 12}) %>
      </section>
    </div>
  </article>
  <!-- /Data block -->
</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">

Gmaps.map.HandleDragend = function(pos) {
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      $('#district_latitude_late').val(responses[0].geometry.location.$a);
      $('#district_longitude_late').val(responses[0].geometry.location.ab)
      console.log(responses[0].geometry.location.$a);
      console.log(responses[0].geometry.location.ab);
    } else {
    alert('Cannot determine address at this location.');
    }
  });
};

Gmaps.map.callback = function() {
  for (var i = 0; i <  this.markers.length; ++i) {
     google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition()) });
  }
};
</script>

<style type="text/css">
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 280px;
}

.gmaps4rails_map {
  width: 280px;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 280px;
   height: 400px;
   border:#555555 2px solid;
}
#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 
</style>
<% end %>