<!-- Grid row -->
<div class="row">

    <!-- Example jQuery FullCalendar -->
    <!-- Data block -->
    <article class="span12 data-block">
        <div class="data-container">
            <header>
                <h2>Quận - Huyện</h2>
                <ul class="data-header-actions">
                    <li class="demoTabs active">
                        <a href="<%= new_district_path %>" class="btn btn-alt btn-inverse">Thêm Quận - Huyện</a>
                    </li>
                </ul>
            </header>
            <section class="tab-content">
                <!-- Tab #static -->
                <div class="tab-pane active" id="static">
                    <table class="table table-condensed">
                        <thead>
                            <tr>

                                <th>Quận</th>
                                <th>Kinh Độ x Vĩ Độ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @districts.each do |district| %>
                            <tr>
                                <td>
                                    <span class="label btn-info">
                                        <%= district.name %></span>
                                </td>

                                <td>
                                    <span class="label btn-warning">
                                        <%= district.longitude %></span><span class="label label-important">
                                        <%= district.latitude %></span>
                                </td>
                                <td>
                                    <%= link_to 'Show', district,:class=>
                                    "label label-success" %>
                                    <%= link_to 'Edit', edit_district_path(district),:class=>
                                    "label label-success" %>
                                    <%= link_to 'Destroy', district, method: :delete, data: { confirm: "Thực sự muốn xóa #{district.name} ?" },:class=>"label label-important" %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /Tab #dynamic --> </section>
        </div>
    </article>
    <!-- /Data block -->
</div>
<!-- /Grid row -->
<!-- Grid row -->
<div class="row">

    <!-- Example jQuery FullCalendar -->
    <!-- Data block -->
    <article class="span12 data-block">
        <div class="data-container">
            <section class="tab-content">
                <%= gmaps("markers" => {"data" => @json,"options" => {}}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 12}) %>
            </section>
        </div>
    </article>
    <!-- /Data block -->
</div>
<!-- /Grid row -->
<% content_for :scripts do %>
<style type="text/css">
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 630px;
}

.gmaps4rails_map {
  width: 630px;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 630px;
   height: 400px;
   border:#555555 2px solid;
}
#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 

#markers_list{
  list-style-type:none;
  display: inline-block;
  #mark
}
#markers_list li{
  float:left;
  margin-left:5px;
}
</style>
<% end %>