<!-- Grid row -->
<div class="row">
  <!-- Example jQuery FullCalendar -->
  <!-- Data block -->
  <article class="span6 data-block">
    <div class="data-container">
      <header>
        <h2>Quốc Gia</h2>
      </header>
      <section class="tab-content">
        <!-- Tab #static -->
        <div class="tab-pane active" id="static">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Quốc Gia</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @countries.each do |country| %>
              <tr>
                <td>
                  <span class="label btn-info">
                    <%= country.name %></span>
                </td>
                <td>
                  <%= link_to 'Show', country,:class=>
                  "label label-success" %>
                  <%= link_to 'Edit', edit_country_path(country),:class=>
                  "label label-success" %>
                  <%= link_to 'Destroy', country, method: :delete, data: { confirm: "Thực sự muốn xóa #{country.name} ?" },:class=>"label label-important" %></td>
              </tr>
              <% end %></tbody>
          </table>
        </div>
        <!-- /Tab #dynamic --> </section>
    </div>
  </article>
  <!-- /Data block -->
  <%= render :partial =>"countries/form"  %></div>
<!-- /Grid row -->