<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html class="no-js" lang="en"> 
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Let's go Việt</title>
		<%= render "shared/meta" %>
		<%= render "shared/icon" %>
  		<%= stylesheet_link_tag "application"%>
  		<%= stylesheet_link_tag 'gmaps4rails' %>
	</head>
	<body>

		<!-- Main page header -->
		<header class="container">

			<!-- Main page logo -->
			<%= render "shared/logo" %>

			<!-- Alternative navigation -->
			<%= render "shared/top" %>
			<!-- /Alternative navigation -->

		</header>
		<!-- /Main page header -->

		<!-- Main page container -->
		<section class="container" role="main">

			<!-- Left (navigation) side -->
			<div class="navigation-block">

				<!-- User profile -->
				<%= render "shared/profile" %>
				<!-- /User profile -->

				<!-- Sample left search bar -->
				<%= render "shared/search" %>
				<!-- /Sample left search bar -->

				<!-- Main navigation -->
				<%= render "shared/navigation"%>
				<!-- /Main navigation -->

				<!-- Sample side note -->
				<%= render "shared/note"%>
				<!-- /Sample side note -->

			</div>
			<!-- Left (navigation) side -->

			<!-- Right (content) side -->
			<div class="content-block" role="main">
					<%= yield %>
			</div>
			<!-- /Right (content) side -->

		</section>
		<!-- /Main page container -->

		<!-- Main page footer -->
		<%= render "shared/footer"%>
		<!-- /Main page footer -->
  	<%= javascript_include_tag "application" %>
  	<%= yield :scripts %>
	</body>
</html>
